amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
boto==2.38.0
celery==3.1.18
Django==1.5
django-boto==0.3.9
django-celery==3.1.16
django-storages==1.1.8
kombu==3.0.26
pHash==0.1
Pillow==2.8.1
Pillow-PIL==0.1.dev0
psycopg2==2.5.3
python-dateutil==2.4.2
pytz==2015.2
six==1.9.0
South==1.0.2
